<html>

<head>
    <title>Account Info</title>
</head>

<body>
    <div class="background-images" id="bedroom-image">

        <div class="card-content padding-100px" id="card-2">

            <h1 class="center-align">Account Information</h1>

            <form class="row container" id="card-container">

                <h5>User name</h5>
                <div class="input-field">
                    <input type="text" id="name" class="input">
                    <label class="active" for="name">{{user_name}}</label>
                </div>
                <h5> Password </h5>
                <div class="input-field">
                    <input type="password" id="password-input" class="input">
                    <label class="active" for="name">*hidden*</label>
                </div>
                <h5> Billing Information </h5>
                <div class="input-field">
                    <input type="text" id="billing-information" class="input">
                    <label class="active" for="name">{{billing_in}}</label>
                </div>
                <center>
                    <button id="update"
                        class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3">Update Information
                        <i class="material-icons right">perm_identity</i>
                    </button>
                    <a href="/" type="button" class="btn btn-large waves-effect waves-light btn-flat z-depth-3"> Back To
                        Homepage</a>
                </center>
            </form>
        </div>
    </div>

    <script src="./js/update.js"></script>

</body>

</html>