<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Homepage </title>  
<body>

<h1>Homepage</h1>    

<button id = "go-to-login">Log In</button>
<p> or </p>
<button id = "go-to-register">Register</button>

</body>
</head>
</html>
