<html>   

<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
</head>

<body>    
    <h1>Welcome!</h1>
    <h2>What would you like to view?</select></h2>
    <button>Lease Information</button>
    <button>Account Information</button>
    <button>Personal Informartion</button>
</body>

</html>