<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Homepage </title>  
<body>

<h1>Homepage</h1>    
<button id = "go-to-login">go to login page</button>

<script src="./public/js/login.js"></script>