<html>

<head>
    <title>Homepage</title>
</head>

<body>
    <div class="background-images" id="pool-image">

        <div class="card-content padding-100px" id="card-2">

            <center>
                <h2 class="align-center">Welcome! What would you like to view?</select></h2>
            </center>

            <center>
                <button type="button"
                    class="btn btn-large waves-effect waves-light light-blue darken-3 z-depth-3 align-center btns-3"><a
                        href="/lease" style="color: #fff">Lease
                        Information</button>
                <button type="button" class="btn btn-large waves-effect waves-light light-blue darken-3 z-depth-3 btns-3"><a
                        href="/account" style="color: #fff"> Account
                        Information</button>
                <button type="button" class="btn btn-large waves-effect waves-light light-blue darken-3 z-depth-3 btns-3"><a
                        href="/resident" style="color: #fff"> Personal
                        Information</button>

                <center>
                    <button class="btn btn-large waves-effect waves-light btn-flat align-center" id="logout">Log
                        Out</button>
                </center>

        </div>
    </div>

    <script src="./js/logout.js"></script>
</body>

</html>