<html>   
<head> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">  
</head>
<body>    

    <h1>Lease Information</h1>

    <h4> Lease Holder </h4>
    <h4> Unit Number </h4>
    <h4> Leasing Term </h4>
    <h4> Cost of Rent </h4>

</body>
</html>