<html>

<head>
    <title>Lease Info</title>
</head>

<body>

    <div class="background-images" id="livingroom-image">
        <div class="card-content padding-100px" id="card-2">

            <h1 class="center-align">Leasing Information</h1>

            <form class="row container" id="card-container">

                <h5>Lease Holder</h5>
                <div class="input-field">
                    <input disabled type="text" id="name">
                    <label class="active" for="name">{{lease_holder}}</label>
                </div>

                <h5>Leasing Term</h5>
                <div class="input-field">
                    <input disabled type="text" id="name">
                    <label class="active" for="lease">{{leasing_term}}</label>
                </div>

                <h5>Cost of Rent</h5>
                <div class="input-field">
                    <input disabled type="text" id="disabled">
                    <label class="active" for="rent">${{rent_cost}}</label>
                </div>

                <center>
                    <a href="/" type="button" class="btn btn-large waves-effect waves-light btn-flat z-depth-3"> Back To
                        Homepage</a>
                </center>

            </form>
        </div>
    </div>
<script src="./js/update.js"></script>
</body>

</html>