<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<<<<<<< HEAD
<title> Homepage </title>  
<body>

<h1>Please login</h1>    
<input id = 'username-input'> Username </input>
<input id = 'password-input'> Password </input>
<button id = 'enter'>Submit!</button>


<script src="./js/login.js"></script>

</body>
</head>
</html>
=======
<title> Login Page </title>  
<body>    
    <center> <h1> Resident Login </h1> </center>   
    <form>  
        <div class="container">   
            <label>Username : </label>   
            <input type="text" id = "#username-input" placeholder="Enter Username" name="username" required>  
            <label>Password : </label>   
            <input type="password" id = "#password-input" placeholder="Enter Password" name="password" required>  
            <button type="submit">Login</button>   
            <input type="checkbox" checked="checked"> Remember me   
            <button type="button" class="cancelbtn"> Cancel</button>   
            Forgot <a href="#"> password? </a>   
        </div>   
    </form>     
</body>     
</html>  
>>>>>>> b77525cb5ea67c3bc78e31beef114e4a97ab33f1
