<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Homepage </title>  
<body>

<h1>Please login</h1>    
<input id = 'username-input'> Username </input>
<input id = 'password-input'> Password </input>
<button id = 'enter'>Submit!</button>


<script src="./js/login.js"></script>

</body>
</head>
</html>