<html>

<head>
    <title>Login</title>
</head>

<body>
    <div id="building-image">

        <form class="row container" id="card-container">

            <div>
                <div class="card-content padding-100px" id="card-1">

                    <h1 class="center-align">Resident Login</h1>

                    <div class="input-field">
                        <input type="text" id="username-input">
                        <label class="active" for="name">Username</label>
                    </div>
    <form>
        <div class="input-field">
            <input type="text" id="username-input">
            <label class="active" for="name">Username</label>
        </div>

        <div class="input-field">
            <input type="password" id="password-input">
            <label class="active" for="name">Password</label>
        </div>
                    <div class="input-field">
                        <input type="password" id="password-input">
                        <label class="active" for="name">Password</label>
                    </div>

        <center>
            <button class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3" id = 'enter'>Login
                <i id = "enter" class="material-icons right">send</i>
            </button>
            <button type="button" class="btn btn-large waves-effect waves-light btn-flat z-depth-3"> Cancel</button>
              <a href = '/register' class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3" id = 'enter'>Register
                <i id = "enter" class="material-icons right">send</i></a>
            </button>
            <div id = "wrong-password"></div>
        </center>
                    <center>
                        <button class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3">Login
                            <i class="material-icons right">send</i>
                        </button>
                        <button type="button" class="btn btn-large waves-effect waves-light btn-flat z-depth-3">
Cancel</button>
                    </center>
                </div>
            </div>

        </form>
    </div>
    <script src="./js/login.js"></script>
</body>


</html>