<html>   
<head>  
<meta name="viewport" content="width=device-width, initial-scale=1">  
<title> Homepage </title>  
<body>

<h1>Please login</h1>    
<input> Username </input>
<input> Password </input>
<button id = "enter">Submit!</button>


<script src="./public/js/login.js"></script>