<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title> Login Page </title>

<body>

    <h1 class="center-align"> Resident Login </h1>

    <form>
        <div class="input-field">
            <input type="text" id="username-input">
            <label class="active" for="name">Username</label>
        </div>

        <div class="input-field">
            <input type="password" id="password-input">
            <label class="active" for="name">Password</label>
        </div>

        <center>
            <button class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3" id = 'enter'>Login
                <i class="material-icons right">send</i>
            </button>
            <button type="button" class="btn btn-large waves-effect waves-light btn-flat z-depth-3"> Cancel</button>
              <a href = '/register' class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3" id = 'enter'>Register
                <i class="material-icons right">send</i></a>
            </button>
            <div id = "wrong-password"></div>
        </center>

    </form>

    <script src="./js/login.js"></script>

</body>


</html>