<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
   
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <title>Document</title>
</head>
<body>
    
<h1>Create Login</h1>  
<div class="input-field">

<input id="name-input" placeholder="First & Last Name"></input><br>
<input id="email-input" placeholder="Email"></input><br>
<input id="unit-input" placeholder="Unit #"></input><br>
<input id="username-input" placeholder="Create Username"></input><br>
<input id="password-input" placeholder="Create Password"></input><br>
<button id="register" class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3">Create Login</button>
<a href = '/' class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3">Back To Login</a>
</div>

<script src="./js/register.js"></script>

</body>
</html>