<html>

<head>
    <title>Resident Info</title>
</head>

<body>
    <div class="background-images" id="balcony-image">

        <div class="card-content padding-100px" id="card-2">

            <h1 class="center-align">Resident Information</h1>

            <form class="row container" id="card-container">

                <h5>Name</h5>
                <div class="input-field">
                    <input type="text" id="name">
                    <label class="active" for="name">{{name}}</label>
                </div>
                <h5>Current Address</h5>
                <div class="input-field">
                    <input type="text" id="address">
                    <label class="active" for="address">{{address}}</label>
                </div>
                <h5>Phone Number</h5>
                <div class="input-field">
                    <input type="text" id = "phone">
                    <label class="active" for="phone">{{phone_number}}</label>
                </div>
                <h5>Email</h5>
                <div class="input-field">
                    <input type="text" class="validate" id = "email">
                    <label class="active" for="email">{{email}}</label>
                </div>
                <center>
                    <div 
                        class="btn btn-large waves-effect waves-light z-depth-3 light-blue darken-3" 
                        onclick="updateButtonHandler(event, 'resident', {'name': 'name', 'address': 'address', 'phone_number': 'phone', 'email': 'email'})">
                        Update Information
                    <i class="material-icons right">perm_identity</i>
                    </div>
                    <a href="/" type="button" class="btn btn-large waves-effect waves-light btn-flat z-depth-3"> Back To
                        Homepage</a>
                </center>
            </form>
        </div>
    </div>
    <script src="./js/update.js"></script>
</body>

</html>