<html>   
<head> 
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">  
</head>

<body>    

    <h1>Personal Information</h1>

    <h4> Name </h4>
    <h4> Current Address </h4>
    <h4> Phone Number </h4>
    <h4> Email </h4>
</body>
</html>